body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
    border: 0;
}
a{
	text-decoration: none;
}
div{
    display: block;
}
body,html{
    color: #333;
}
.nav{
    height: 32px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    line-height: 32px;
    display: -webkit-flex;
    justify-content: flex-end;
}
.nav_tou{
    margin-right: 56px;
    font-size: 12px;
    color: #999999;
}
.nav_tou a{
    margin: 0 10px;
    color:rgb(153, 153, 153);
}
.nav_tou img{
    margin-left: 10px;
}
.search_nav{
    margin-left: 22px;
}
.nav_shoucang{
    position: relative;
}
.nav_shoucang .down_load_img{
    position: absolute;
    left: -70px;
    z-index: 999999;
    margin-top: 4px;
    display: none;
}
.nav_shoucang .down_load_img img{
    width: 181px;
	height: 200px;
}
.download_app:hover .down_load_img{
    display: block;
}
/* 二级about */
.nav_about{
    float: right;
}
.test1{
    display: block;
}
.test2{
    display: none;
}
.two_about{
    position: absolute;
    right: 30px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
    border-top: 1px solid rgb(200,200,200);
    border-radius: 2px;
    background: white;
    z-index: 9999;
    display: none;
}
.header_copyright{
    width: 960px;
    color: #333;
    font-size: 12px;
    padding-top: 32px;
    padding-bottom: 5px;
    margin: 0 auto;
}
.header_help{
    width: 100%;
    display: flex;
    margin-left: 42px;
}
.header_help_item{
    flex: 1;
}
.header_help_tit{
    font-size: 14px;
    margin-bottom: 23px;
    line-height: 20px;
    overflow: hidden;
}
.header_help_list{
    width: 80px;
    font-weight: 300;
    height: 17px;
    line-height: 17px;
    margin-bottom: 12px;
    font-family: "PingFang SC","Times New Roman","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",STXihei,"\534E\6587\7EC6\9ED1",serif;
}
.header_help_tit_border{
    width: 30px;
    height: 1px;
    background: gray;
    margin-top: 4px;
}
.header_hostname{
    /* margin-top: 20px; */
    display: flex;
    text-align: center;
    position: relative;
}
.header_hostname span{
    font-size: 12px;
    color: gray;
    padding: 0 -20px;
}
.header_hostname:before,.header_hostname:after{
    content: " ";
    flex: 1;
    border-top:1px solid rgb(230, 230, 230);
    transform: translate(0,50%);
    margin: 0 40px;
}
.header_footer{
    line-height: 24px;
    font-size: 12px;
    padding-bottom: 10px;
}
/* 二级about */
/* menu */
.menu{
    /* border: 1px solid black; */
    margin: 0 74px;
    margin-top: 28px;
    height: 46px;
    display: -webkit-flex;
    flex-direction: row;
   position: relative;
}
.logo{
    width: 128px;
    height: 46px;
}
.logo img{
    margin-top: 5px;
}
.mulu{
    font-size: 16px;
    color: black;
    margin-left: 86px;
    line-height: 44px;
    position: relative;
    vertical-align: middle;
}
.mulu img{
    width: 18px;
    height: 12px;
}
/* 二级菜单 */
.mulu_two{
    position: absolute;
    width: 1120px;
    border: 1px solid #E5E5E5;
    background: white;
    border-radius: 2px;
    min-height: 160px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
    margin-top: 5px;
    margin-left: -200px;
    z-index: 9999;
    display: none;
}
.mulu_two_menu{
    line-height: 24px;
    float:left;
}
.mulu_two_menu_content ul{
    margin-top: 7px;
}
.menu_one{
    width: 320px;
    /* border-right: 1px solid #EEE; */
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.menu_two{
    width: 320px;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    position: relative;
}
.menu_there{
     width: 400px;
    /* border-right: 1px solid #EEE; */
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}
/* 三角 */
.mulu_two_tri{
    display: block;
    background: #fff;
}
.mulu_two_tri:after,.mulu_two_tri:before{
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    pointer-events: none;
    top: -10px;
    left: 202px;
}
.mulu_two_tri:before{
    border-color:rgba(204, 204, 204, 0);
    border-bottom-color: #E5E5E5;
    border-width: 5px;
    margin-left: 5px;
    margin-right: 1px;
}
.mulu_two_tri:after{
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: 4px;
}
/* 三角 */
/* 滑过显示二级菜单 */
.mulu:hover .mulu_two{
    display: block;
}
/* 滑过显示二级菜单 */
.mulu_two_menu_tit{
    font-size: 14px;
    color: #333;
}
.mulu_two_menu_text{
    font-size: 12px;
    display: inline-block;
    margin-right: 30px; 
}
.mulu_two_menu_text a:hover{
    color:rgb(255,68,102);;
}
.mulu_two_menu_text a{
    color: #666;
}
.selectbox{
    background-color: #f7f7f7;
    width: 74px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 12px;
    float: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
}
.search_in{
    width: 424px;
    height: 44px;
    background-color: #f7f7f7;
    border: none;
    float: left;
    outline: none;
}
.search_btn{ 
    background: url('../img/search.png') no-repeat;
    height: 44px;
    width: 52px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
}
.nav_list{
    display: -webkit-flex;
    flex-direction: row;
    margin-left:10px;
}
.nav_list div{
    font-size: 12px;
    width: 36px;
    height: 42px;
    text-align: center;
    margin-right:18px;
}
.nav_list img{
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
}
.login{
    color: #333;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    margin-top: 3 8px;
}
.login img{
    width: 30px;
    height: 30px;
    margin-right: 6px;
    vertical-align: middle;
}












/* section */
.section-wrap{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* height: 200px; */
    /* border: 1px solid black; */
    position: relative;
    margin-top: 28px;
}
.section-banner{
    width: 1198px;
}
.section-nav-list{
    height: 38px;
    /* overflow: hidden; */
    width:1183px;
}
.section-nav-list li{
    display: inline-block;
    /* vertical-align: top; */
    width: 65px;
    /* border: 1px solid black; */
    text-align: center;
}
.section-nav-list li a{
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color:#333;
}
.section-nav-list li:nth-child(1){
    background: white;
    height: 38px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-top:2px solid #f46;
    box-sizing: border-box;
}
.section-banner-nav{
    background: #fafafa;
    padding-left: 15px;
    border:1px solid#e5e5e5;
}
.section-clothing-right{
    float:right;
    padding-left: 20px;
    border-left: 1px dashed #e5e5e5;
    margin-top:-10px;
    /* position: absolute; */
    /* right: 20px; */
    /* top: 60px; */
}
.section-clothing-nav{
    padding:30px 20px 20px 30px;
    height: 230px;
    border: 1px solid #e5e5e5;
    margin-top: -1px;
}
.section-clothing-right img{
    width: 200px;
    height: 240px;
}
.sectoin-clothing-list{
    width:435px;
    height: 96px;
    float: left;
    margin-right: 25px;
}
.sectoin-clothing-list dt{
    height: 18px;
    line-height: 18px;
    font-size: 16px;
}
.sectoin-clothing-list dt a{
    color:#333;
    height: 18px;
}
.sectoin-clothing-list dd{
    height: 68px;
    margin-top: 10px;
    vertical-align: top;
}
.sectoin-clothing-img{
    height: 66px;
    float: left;
    border:1px solid #f2f2f2;
    background:white;
}
.sectoin-clothing-list a img{
    width: 66px;
    height: 66px;
}
.sectoin-clothing-list dd ul li{
    display: inline-block;
    position: relative;
}
.sectoin-clothing-list dd ul a{
    height: 12px;
    line-height: 12px;
    padding: 4px 4px;
    color: #333;
    font-size: 12px;
    /* border: 1px solid hotpink; */
    padding: 4px 6px;
    margin: 0 10px;
}
.sectoin-clothing-list dd ul li::after{
    content: "";
    width: 1px;
    height: 12px;
    position: absolute;
    right:0;
    top:50%;
    margin-top:-6px;
    background:#e5e5e5;
}
.list-two{
    margin-top: 30px;
}
/* 商品列表 */
.section-list-tit{
    font-size: 24px;
    font-weight: 400;
    margin-top:30px;
    margin-bottom:8px;
}
.section-select-price{
    height: 24px;
    border: 1px solid #e5e5e5;
    padding: 7px 0;
    margin-bottom: 20px;
}
.section-price-in{
    height: 22px;
    float: left;
}
.section-price-in span{
    height: 22px;
    width: 10px;
    border:1px solid #dadada;
    border-right: none; 
    float: left;
    font-size: 12px;
    line-height: 22px;
    color:#999;
    /* float: left; */
}
.section-price-cen{
    float: left;
    margin: 0 5px;
}
.section-price-in input{
    height: 22px;
    width: 34px;
    border: 1px solid #dadada;
    border-left:none;
    float: left;
    outline: none;
}
.section-price-input{
    margin-left: 20px;
}
.section-select-btn{
    display: inline-block;
    height: 22px;
    width: 45px;
    line-height: 22px;
    color: #333;
    text-align: center;
    margin-left: 10px;
    font-size: 12px;
    border:1px solid #dadada;
    /* float: left; */
}
.section-btn-right{
    width: 10px;
    height: 24px;
    /* margin-left: 10px; */
    border-right: 1px solid #dadada;
    float :left;
}
/* 商品详情 */
.section-list-show-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-list-show{
    /* float: left; */
    margin: 0 0 25px 0;
    display: inline-block;
}
.section-list-details{
    border:1px solid #E5E5E5;
    width: 220px;
    /* float: left; */
    position: relative;
}
.section-list-details:hover{
    border: 1px solid #f57;
}
.section-list-details:hover .list-top-sim{ 
    display: inline-block;
}
.list-top-sim{
    width: 220px;
    height:24px;
    color: white;
    line-height: 24px;
    font-size: 14px;
    position: absolute;
    bottom: 76px;
    background-color: rgba(255,85,119,.7);
    text-align: center;
    display: none;
}
.lsit-top{
    height: 293px;
    position: relative;
}
.list-top img{
    width: 220px;
}
.list-content{
    font-size: 14px;
    color:#666;
    margin-bottom:3px;
    height: 40px;
    line-height: 20px;
    margin-top: 4px;
    padding:0 5px;
}
.list-content-price{
    padding: 0 5px;
    margin-bottom: 5px;
}
.list-content-price span:nth-child(1){
    font-weight: 600;
    color:black;
}
.list-content-price span:nth-child(2){
    font-size: 12px;
    color: #333;
    text-decoration: line-through;
}
.list-content-price span:nth-child(3){
    font-size: 12px;
    color:#999;
    float: right;
    line-height: 15px;
    height: 20px;
    margin-top:5px;
}
.list-content-price span:nth-child(3) img{
    width: 16px;
    height: 15px;
    vertical-align: -2px;
    margin-right: 4px;
}








/* footer */
.footer{
    /* border: 1px solid  black; */
    background-image: url("../img/footer.jpg");
    overflow: hidden;
    min-height: 180px;
    padding-top: 50px;
    padding-bottom: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    box-sizing: border-box;
    /* display: none; */
    width: 100%;
}
.mgj_footer_icon{
    width: 140px;
    margin: 0 auto 49px;
}
.mgj_footer_icon img{
    width: 100%;
}
.footer_message{
    width: 1200px;
    margin: 0 auto;
}
.mgj_footer_help{
    margin-left: 50px;
    width: 100%;
    height: 168px;
}
.mgj_footer_help_mod{
    width: 25%;
    float: left;
}
.mgj_footer_help_tit{
    color: white;
    font-size: 14px;
    margin-bottom: 23px;
    line-height: 20px;
}
.mgj_footer_tit_border{
    width: 30px;
    height: 1px;
    background: white;
    margin-top: 4px;
}
.mgj_footer_help_mes a{
    color: white;
    font-size: 12px;
}
.mgj_footer_help_item{
    line-height: 17px;
    font-weight: 300;
    margin-bottom: 12px;
}
/* about */
.mgj_footer_about{
    height: 20px;
    margin-top: 30px;
}
.mgj_footer_item{
    display: inline-block;
    color: white;
    font-weight: 300;
}
.mgj_footer_item a{
    color: white;
    font-size: 12px;
}
.mgj_footer_item:not(:first-child)::before{
    content: "|";
    margin:0 24px;
}
/* 版权 */
.mgj_footer_hostname{
    font-weight: 100;
    margin-top: 20px;
    text-align: center;
    display: flex;
    position: relative;
}
.mgj_footer_hostname span{
    padding:0 26px;
    color: white;
    font-size: 12px;
    font-family: "PingFang SC","Times New Roman","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",STXihei,"\534E\6587\7EC6\9ED1",serif;
}
.mgj_footer_hostname:after,.mgj_footer_hostname::before{
    content: "";
    flex: 1;
    border-top: 1px solid rgba(255,255,255,.5);
    font-weight: 100;
    transform: translate(0,50%);
}
.mgj_footer_copyright{
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 300;
}
.mgj_footer_copyright a{
    color: white;

    font-weight: 300;
}
.mgj_footer_copyright b{
    font-weight: 300;
    margin: 0 10px;
}
.mgj_footer_copyright p {
    margin-top: 12px;
}
/* rolltop */
.roll_top{
    width: 100%;
    background: white;
    z-index: 100;
    box-shadow: 0 1px 6px 0 #ccc;
    /* display: none; */
    padding-top: 12px;
    padding-bottom: 9px;
}
.fixnav{
    position: fixed;
        top: 0px;
        left: 0px;
}
.new_top{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.new_top_logo{
    width: 195px;
    margin-top: 8px;
    float: left;
}
.new_top_logo img{
    height: 30px;
}
.new_top_content{
    float: left;
}
.new_top_content_input{
    float: left;
}
.new_top_content_icon{
    float: left;
}




.roll-right{
    width: 30px;
    height: 100%;
    background: black;
    position: fixed;
    right: 0;
    top: 0;
}
.roll-right a{
    color: white;
    font-size: 12px;
}
.roll-right-item{
    padding: 10px 4px 0;
    text-align: center;
}
